<form class="cart-item cart-item-1" data-id="1" action="" method="post" enctype="multipart/form-data">
    <select name="cart-id-detail">
        <option value="" data-available="" data-old-price="" data-price="" data-discount=""><span class="money"></span></option>';
    </select>
    <input type="hidden" name="cart-id" value="1" />
    <input type="hidden" name="cart-name" value="name" />
    <input type="hidden" name="cart-image" value="image" />
    <input type="hidden" name="cart-link" value="link" />
    <input type="text" name="cart-price" value="" /><div class="cart-price-span"></div>
    <input type="text" name="cart-weight" value="" /><div class="cart-weight-span"></div>
    <input type="text" name="cart-total-weight" value="" /><div class="cart-total-weight-span"></div>
    <input type="text" name="cart-total-qty" value="" /><div class="cart-total-qty-span"></div>
    <input type="text" name="cart-total-price" value="" /><div class="cart-total-price-span"></div>
    <input type="number" name="cart-qty" class="cart-update-qty" value="1" min="1" max="999" /><div class="cart-qty-span">1</div>
    <input type="hidden" name="cart-action" value="add" />
    <div class="data-normal-price" style="display:none;"></div>
    <div class="data-normal-price-span" style="display:none;"></div>
    <div class="cart-grosir-price-span" style="display:none;"></div>
    <button class="btn btn-1 cart-add-to-btn" type="submit"></button>
    <div class="btn btn-1 cart-remove-btn"></div>
</form>

<form class="cart-item cart-item-2" data-id="2" action="" method="post" enctype="multipart/form-data">
    <select name="cart-id-detail">
        <option value="" data-available="" data-old-price="" data-price="" data-discount=""><span class="money"></span></option>';
    </select>
    <input type="hidden" name="cart-id" value="2" />
    <input type="hidden" name="cart-name" value="name" />
    <input type="hidden" name="cart-image" value="image" />
    <input type="hidden" name="cart-link" value="link" />
    <input type="text" name="cart-price" value="" /><div class="cart-price-span"></div>
    <input type="text" name="cart-weight" value="" /><div class="cart-weight-span"></div>
    <input type="text" name="cart-total-weight" value="" /><div class="cart-total-weight-span"></div>
    <input type="text" name="cart-total-qty" value="" /><div class="cart-total-qty-span"></div>
    <input type="text" name="cart-total-price" value="" /><div class="cart-total-price-span"></div>
    <input type="number" name="cart-qty" class="cart-update-qty" value="1" min="1" max="999" /><div class="cart-qty-span">1</div>
    <input type="hidden" name="cart-action" value="add" />
    <div class="data-normal-price" style="display:none;"></div>
    <div class="data-normal-price-span" style="display:none;"></div>
    <div class="cart-grosir-price-span" style="display:none;"></div>
    <button class="btn btn-1 cart-add-to-btn" type="submit"></button>
    <div class="btn btn-1 cart-remove-btn"></div>
</form>

<!-- jika table -->
<table class="cart-table">
    <tr class="cart-item cart-item-1" data-id="1">
        <td>
            <select name="cart-id-detail">
                <option value="" data-available="" data-old-price="" data-price="" data-discount=""><span class="money"></span></option>';
            </select>
            <input type="hidden" name="cart-id" value="1" />
            <input type="hidden" name="cart-name" value="name" />
            <input type="hidden" name="cart-image" value="image" />
            <input type="hidden" name="cart-link" value="link" />
            <input type="text" name="cart-price" value="" /><div class="cart-price-span"></div>
            <input type="text" name="cart-weight" value="" /><div class="cart-weight-span"></div>
            <input type="text" name="cart-total-weight" value="" /><div class="cart-total-weight-span"></div>
            <input type="text" name="cart-total-qty" value="" /><div class="cart-total-qty-span"></div>
            <input type="text" name="cart-total-price" value="" /><div class="cart-total-price-span"></div>
            <input type="number" name="cart-qty" class="cart-update-qty" value="1" min="1" max="999" /><div class="cart-qty-span">1</div>
            <input type="hidden" name="cart-action" value="add" />
            <div class="data-normal-price" style="display:none;"></div>
            <div class="data-normal-price-span" style="display:none;"></div>
            <div class="cart-grosir-price-span" style="display:none;"></div>
            <button class="btn btn-1 cart-add-to-btn" type="submit"></button>
            <div class="btn btn-1 cart-remove-btn"></div>
        </td>
    </tr>
    <tr class="cart-item cart-item-2" data-id="2">
        <td>
            <select name="cart-id-detail">
                <option value="" data-available="" data-old-price="" data-price="" data-discount=""><span class="money"></span></option>';
            </select>
            <input type="hidden" name="cart-id" value="2" />
            <input type="hidden" name="cart-name" value="name" />
            <input type="hidden" name="cart-image" value="image" />
            <input type="hidden" name="cart-link" value="link" />
            <input type="text" name="cart-price" value="" /><div class="cart-price-span"></div>
            <input type="text" name="cart-weight" value="" /><div class="cart-weight-span"></div>
            <input type="text" name="cart-total-weight" value="" /><div class="cart-total-weight-span"></div>
            <input type="text" name="cart-total-qty" value="" /><div class="cart-total-qty-span"></div>
            <input type="text" name="cart-total-price" value="" /><div class="cart-total-price-span"></div>
            <input type="number" name="cart-qty" class="cart-update-qty" value="1" min="1" max="999" /><div class="cart-qty-span">1</div>
            <input type="hidden" name="cart-action" value="add" />
            <div class="data-normal-price" style="display:none;"></div>
            <div class="data-normal-price-span" style="display:none;"></div>
            <div class="cart-grosir-price-span" style="display:none;"></div>
            <button class="btn btn-1 cart-add-to-btn" type="submit"></button>
            <div class="btn btn-1 cart-remove-btn"></div>
        </td>
    </tr>
</table>

<!-- jika total cart -->
<input type="text" name="cart-grandtotal-weight" value="" /><div class="cart-grandtotal-weight-span"></div>
<input type="text" name="cart-grandtotal-qty" value="" /><div class="cart-grandtotal-qty-span"></div>
<input type="text" name="cart-subgrandtotal-price" value="" /><div class="cart-subgrandtotal-price-span"></div>
<input type="text" name="cart-ppn-price" value="" />
<input type="text" name="cart-grandtotal-ppn-price" value="" /><div class="cart-grandtotal-ppn-price-span"></div>
<input type="text" name="cart-shipping-price" value="" />
<input type="text" name="cart-grandtotal-shipping-price" value="" /><div class="cart-grandtotal-shipping-price-span"></div>
<input type="text" name="cart-voucher-price" value="" /><div class="cart-voucher-price-span"><span class="text-danger"> - </span></div>
<input type="text" name="cart-grandtotal-price" value="" /><div class="cart-grandtotal-price-span"></div>


-------- ARRAY JSON OUTPUT ------

$data['cart_id']        = $r->product_id;
$data['cart_name']      = $r->product_name;
$data['cart_image']     = get_image(base_url()."assets/collections/product/thumb/".get_cover_image_detail($r->product_id));
$data['cart_link']      = base_url().'product/'.$r->url;

$detail                 = get_product_detail($r->product_id)[0];
$data['cart_id_detail'] = $detail->product_detail_id;

$data['cart_price']                             = $detail->product_price_sale;
$data['cart_price_span']                        = convertRp($data['cart_price']);
$data['cart_normal_price']                      = $data['cart_price'];
$data['cart_normal_price_span']                 = $data['cart_price_span'];
$data['cart_grosir_price_span']                 = $detail->product_price_grosir;
$data['cart_weight']                            = $detail->product_weight;
$data['cart_weight_span']                       = convertGrToKg($data['cart_weight']);
$data['cart_total_weight']                      = 0;
$data['cart_total_weight_span']                 = 0;
$data['cart_total_qty']                         = 0;
$data['cart_total_qty_span']                    = 0;
$data['cart_total_price']                       = 0;
$data['cart_total_price_span']                  = 0;
$data['cart_grandtotal_weight']                 = 0;
$data['cart_grandtotal_weight_span']            = 0;
$data['cart_grandtotal_qty']                    = 0;
$data['cart_grandtotal_qty_span']               = 0;
$data['cart_subgrandtotal_price']               = 0;
$data['cart_subgrandtotal_price_span']          = 0;
$data['cart_ppn_price']                         = 10;
$data['cart_grandtotal_ppn_price']              = 0;
$data['cart_grandtotal_ppn_price_span']         = 0;
$data['cart_shipping_price']                    = 9000;
$data['cart_grandtotal_shipping_price']         = 0;
$data['cart_grandtotal_shipping_price_span']    = 0;
$data['cart_voucher_price']                     = 9000;
$data['cart_voucher_price_span']                = 0;
$data['cart_grandtotal_price']                  = 0;
$data['cart_grandtotal_price_span']             = 0;



<!-- $cart_id        = $r->product_id;
$cart_name      = $r->product_name;
$cart_image     = get_image(base_url()."assets/collections/product/thumb/".get_cover_image_detail($r->product_id));
$cart_link      = base_url().'product/'.$r->url;

$detail                 = get_product_detail($r->product_id)[0];
$cart_id_detail = $detail->product_detail_id;

$cart_price                             = $detail->product_price_sale;
$cart_price_span                        = convertRp($cart_price);
$cart_grosir_price_span                 = $detail->product_price_grosir;
$cart_weight                            = $detail->product_weight;
$cart_weight_span                       = convertGrToKg($cart_weight);
$cart_total_weight                      = 0;
$cart_total_weight_span                 = 0;
$cart_total_qty                         = 0;
$cart_total_qty_span                    = 0;
$cart_total_price                       = 0;
$cart_total_price_span                  = 0;
$cart_grandtotal_weight                 = 0;
$cart_grandtotal_weight_span            = 0;
$cart_grandtotal_qty                    = 0;
$cart_grandtotal_qty_span               = 0;
$cart_subgrandtotal_price               = 0;
$cart_subgrandtotal_price_span          = 0;
$cart_ppn_price                         = 10;
$cart_grandtotal_ppn_price              = 0;
$cart_grandtotal_ppn_price_span         = 0;
$cart_shipping_price                    = 9000;
$cart_grandtotal_shipping_price         = 0;
$cart_grandtotal_shipping_price_span    = 0;
$cart_voucher_price                     = 9000;
$cart_voucher_price_span                = 0;
$cart_grandtotal_price                  = 0;
$cart_grandtotal_price_span             = 0;

 -->